<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/lib/css/bootstrap.css">
    <link rel="stylesheet" href="/css/index.css">
    <script src="/lib/js/jquery.js"></script>
    <script src="/lib/js/bootstrap.js"></script>
</head>
<body>
    <div class="container text-center">
        <img src="/images/404.jpg" width="100%" alt="">
        <button class='btn btn-info ' >返回首页</button>
    </div>
    <script >
        $('button').click(()=>{
            window.location.href = '/'
        })
    </script>
</body>
</html>