<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>加入我们吧</title>
    <link rel="stylesheet" href="/lib/css/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <script src="/lib/js/jquery.js"></script>
    <script src="/lib/js/bootstrap.js"></script>
    <script src="/lib/js/jq.cookie.js"></script>
    
</head>
<body style="background-size: cover;">
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button> -->
                    <a style="font-size:2em; padding: 0 0 0 20px; color: #fff; font-family: 'Comic Sans MS';" class="navbar-brand" href="/">
                        <img style="height: 100%; display: inline-block;" src="/images/logo.png" alt="">
                    The Village</a>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </div>

    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading" style="opacity: 0.8">
                登陆
            </div>
            <div class="panel-body">
                <form id="login-form">
                    <div class="form-group">
                        <label for="username">账号</label>
                        <input type="text" id="username" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="psw">密码</label>
                        <input type="password" id="password" class="form-control">
                    </div>
                    <div class="form-group">
                        <button onclick="" type="submit" class="btn btn-success">登陆</button>
                        <button type="reset" class="btn btn-success">重输</button>
                        <a href="/register" class="to-register" style="color: #fff">还没账号？去注册</a>
                    </div>
                </form>
            </div>
        </div>

        <!-- <img style="width: 65%; float: right;" src="/images/banner.png" alt=""> -->
    </div>
    <script>
        
    </script>
    <script src="/javascripts/login.js"></script>
</body>
</html>