<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="static/lib/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/index.css">
    <script src="static/lib/js/jquery.js"></script>
    <script src="static/lib/js/bootstrap.js"></script>
</head>
<body>
    <div class="container">
        <img src="static/images/404.jpg" width="100%" alt="">
    </div>
</body>
</html>